body {
  background: #BEC6C9;
  color: #000;
}

a {
    color: #000;
    text-decoration: none;
    border-bottom: 1px dashed #000;
}

a:hover {
    color: #755;
}

p {
    text-align: left;
    margin: auto;
    width: 90%;
    max-width: 800px;
    border-top:1px dashed #000;
}
